body{
  height: 100vh;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0.5rem auto;
  color: #154360;
}

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: auto;
  background-color: rgb(36, 113, 163, 0.5);
  border-radius: 1rem;
  margin: 1rem 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-gap: 1em;
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F4F6F7;
  border: 2px solid #154360;
  border-radius: 8px;
  overflow: hidden;
  width: auto;
  padding: 0.5rem;
  transition: background-color 0.5s ease, color 0.2s ease;
  h2,
  p {
    color: black;
  }
}

.project-container:hover{
  background-color: #5499c7;
  border-color: white;
}

.project-img {
  border-radius: 8px;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-right: 10px;
}

.project-img:hover {
  transform: scale(1.2);
}

.project-container__article {
  text-align: center;
  margin-top: 0.5rem;
  margin: auto 0.5rem;
  p, h2{
    max-width: 20rem;
  }
}


@media (max-width: 441px) {
  .project-section {
    width: 90%;
    margin: 0 auto;
  }
  .project-container {
    flex-direction: column;
    width: 90%;
  }
}


